<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><strong>Sample Email</strong></title>
</head>
<body>
    <div style="color: black; border:1px solid black; border-radius: 10px; border-spacing: 20px;margin: 100px;">
        <div style="padding: 50px;">
            <h1>Sample email creation</h1>
            <p style="font-weight: bold;color: crimson;">Note : {{ message }}</p>
            <h3 style="color:grey">Dummy message</h3>
            <p style="color: black;"></p>Although Python provides a mail sending interface via the smtplib module, Django provides a couple of light wrappers
            over it. These wrappers are provided to make sending email extra quick, to help test email sending during development, and to provide
            support for platforms that can't use SMTP.</p>
        </div>
    </div>
</body>
</html>